# Figure 4

In [30]:
import scanpy as sc
import convexgating as cg
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [31]:
def get_f1_hierarch(perf_loc):
    tab = pd.read_csv(perf_loc)
    #tab = pd.read_csv('level_' +str(level) + '/cluster_' + celltype + '/performance.csv')
    best_loc_f1 = np.argmax(tab.iloc[0][1:])
    f1 = tab.iloc[0][1:][best_loc_f1]
    recall = tab.iloc[1][1:][best_loc_f1]
    precision = tab.iloc[2][1:][best_loc_f1]
    hierarchy = best_loc_f1 + 1
    return f1,recall,precision,hierarchy

def get_f1_hierarch_max2hierarch(perf_loc):
    tab = pd.read_csv(perf_loc)
    #tab = pd.read_csv('level_' +str(level) + '/cluster_' + celltype + '/performance.csv')
    best_loc_f1 = np.argmax(tab.iloc[0][1:])
    if best_loc_f1 > 1:
        best_loc_f1 = 1
    f1 = tab.iloc[0][1:][best_loc_f1]
    recall = tab.iloc[1][1:][best_loc_f1]
    precision = tab.iloc[2][1:][best_loc_f1]
    hierarchy = best_loc_f1 + 1
    return f1,recall,precision,hierarchy

# Oetjen

### ConvexGating

In [133]:
samples = ['A','B','C','H','J','O','T','U'] 
cluster_lvl2 = ['cluster_T cell','cluster_NK cell']
cluster_lvl3 = ['cluster_CD4+ T cell','cluster_CD8+ T cell','cluster_Double negative T cell','cluster_Double positive T cell',
 'cluster_NK cell']
cluster_lvl4 = ['cluster_CCR7- CD4+ T cell',
 'cluster_CCR7+ CD4+ T cell',
 'cluster_CCR7- CD8+ T cell',
 'cluster_CCR7+ CD8+ T cell',
'cluster_Double negative T cell',
'cluster_Double positive T cell',
'cluster_NK cell']


cluster_lvl5 = ['cluster_CD4+ CM T cell','cluster_CD4+ TEMRA','cluster_CD8+ CM T cell','cluster_CD8+ TE T cell','cluster_Double negative T cell','cluster_NK cell','cluster_Naive CD8+ T cell',
'cluster_CD4+ EM T cell','cluster_CD4+ TRM T cell','cluster_CD8+ EM T cell','cluster_CD8+ TRM T cell','cluster_Double positive T cell','cluster_Naive CD4+ T cell']

gating_dir_lvl2 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_5\\P02_cell_type_lvl2_hull' 
oetjen_cg_lvl2 = pd.DataFrame(columns =['sample','cluster','f1','recall','precision','hierarchy'])
for sample in samples:
    for cluster in cluster_lvl2:
        perf_loc = os.path.join(gating_dir_lvl2,sample,cluster,'performance.csv')
        f1,recall,precision,hierarchy = get_f1_hierarch(perf_loc)
        oetjen_cg_lvl2 = oetjen_cg_lvl2.append(pd.DataFrame([[sample,cluster,f1,recall,precision,hierarchy]],columns=['sample','cluster','f1','recall','precision','hierarchy']))
oetjen_cg_lvl2['level'] = 'lvl2'

gating_dir_lvl3 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_5\\P02_cell_type_lvl3_hull' 
oetjen_cg_lvl3 = pd.DataFrame(columns =['sample','cluster','f1','recall','precision','hierarchy'])
for sample in samples:
    for cluster in cluster_lvl3:
        perf_loc = os.path.join(gating_dir_lvl3,sample,cluster,'performance.csv')
        f1,recall,precision,hierarchy = get_f1_hierarch(perf_loc)
        oetjen_cg_lvl3 = oetjen_cg_lvl3.append(pd.DataFrame([[sample,cluster,f1,recall,precision,hierarchy]],columns=['sample','cluster','f1','recall','precision','hierarchy']))
oetjen_cg_lvl3['level'] = 'lvl3'

gating_dir_lvl4 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_5\\P02_cell_type_lvl4_hull' 
oetjen_cg_lvl4 = pd.DataFrame(columns =['sample','cluster','f1','recall','precision','hierarchy'])
for sample in samples:
    for cluster in cluster_lvl4:
        perf_loc = os.path.join(gating_dir_lvl4,sample,cluster,'performance.csv')
        f1,recall,precision,hierarchy = get_f1_hierarch(perf_loc)
        oetjen_cg_lvl4 = oetjen_cg_lvl4.append(pd.DataFrame([[sample,cluster,f1,recall,precision,hierarchy]],columns=['sample','cluster','f1','recall','precision','hierarchy']))
oetjen_cg_lvl4['level'] = 'lvl4'

gating_dir_lvl5 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_5\\P02_cell_type_lvl5_hull' 
oetjen_cg_lvl5 = pd.DataFrame(columns =['sample','cluster','f1','recall','precision','hierarchy'])
for sample in samples:
    for cluster in cluster_lvl5:
        perf_loc = os.path.join(gating_dir_lvl5,sample,cluster,'performance.csv')
        f1,recall,precision,hierarchy = get_f1_hierarch(perf_loc)
        oetjen_cg_lvl5 = oetjen_cg_lvl5.append(pd.DataFrame([[sample,cluster,f1,recall,precision,hierarchy]],columns=['sample','cluster','f1','recall','precision','hierarchy']))

oetjen_cg_lvl2['tool'] = 'ConvexGating'
oetjen_cg_lvl2['level'] = 2

oetjen_cg_lvl3['tool'] = 'ConvexGating'
oetjen_cg_lvl3['level'] = 3

oetjen_cg_lvl4['tool'] = 'ConvexGating'
oetjen_cg_lvl4['level'] = 4

oetjen_cg_lvl5['tool'] = 'ConvexGating'
oetjen_cg_lvl5['level'] = 5

oetjen_cg_lvl2['cell_type'] = oetjen_cg_lvl2['cluster'].str[8:]
oetjen_cg_lvl3['cell_type'] = oetjen_cg_lvl3['cluster'].str[8:]
oetjen_cg_lvl4['cell_type'] = oetjen_cg_lvl4['cluster'].str[8:]
oetjen_cg_lvl5['cell_type'] = oetjen_cg_lvl5['cluster'].str[8:]

In [130]:
oetjen_cg_lvl2

,sample,cluster,f1,recall,precision,hierarchy,level,tool
0,A,T cell,0.980720,0.969219,0.992498,2,2,ConvexGating
0,A,NK cell,0.874764,0.778713,0.997844,3,2,ConvexGating
0,B,T cell,0.987428,0.993946,0.980996,2,2,ConvexGating
0,B,NK cell,0.895073,0.812377,0.996513,3,2,ConvexGating
0,C,T cell,0.752048,0.603249,0.998289,1,2,ConvexGating
0,C,NK cell,0.865248,0.765370,0.995106,3,2,ConvexGating
0,H,T cell,0.960394,0.928599,0.994444,1,2,ConvexGating
0,H,NK cell,0.767714,0.624448,0.996292,2,2,ConvexGating
0,J,T cell,0.956033,0.918105,0.997230,2,2,ConvexGating
0,J,NK cell,0.771660,0.630404,0.994499,2,2,ConvexGating
0,O,T cell,0.956263,0.918333,0.997461,2,2,ConvexGating
0,O,NK cell,0.891574,0.805500,0.998243,3,2,ConvexGating
0,T,T cell,0.944031,0.898620,0.994275,1,2,ConvexGating
0,T,NK cell,0.839425,0.739508,0.970560,2,2,ConvexGating
0,U,T cell,0.969740,0.943373,0.997624,2,2,ConvexGating
0,U,NK cell,0.814322,0.687533,0.998446,3,2,ConvexGating

### Hypergate

In [69]:
oetjen_hypergate_path_lvl2 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\Hypergate\\cytof_data_tmp_cell_type_lvl2_hypergate.csv'
oetjen_hypergate_path_lvl3 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\Hypergate\\cytof_data_tmp_cell_type_lvl3_hypergate.csv'
oetjen_hypergate_path_lvl4 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\Hypergate\\cytof_data_tmp_cell_type_lvl4_hypergate.csv'
oetjen_hypergate_path_lvl5 = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\Hypergate\\cytof_data_tmp_cell_type_lvl5_hypergate.csv'

In [70]:
oetjen_hypergate_lvl2 = pd.read_csv(oetjen_hypergate_path_lvl2,index_col =0)
oetjen_hypergate_lvl3 = pd.read_csv(oetjen_hypergate_path_lvl3,index_col =0)
oetjen_hypergate_lvl4 = pd.read_csv(oetjen_hypergate_path_lvl4,index_col =0)
oetjen_hypergate_lvl5 = pd.read_csv(oetjen_hypergate_path_lvl5,index_col =0)

### Linear SVM

In [11]:
oetjen_linear_svm_path = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\performance_linsvm\\svm_linear\\Oetjen_data\\'

oetjen_linear_svm_sub_lv2 = pd.read_csv(oetjen_linear_svm_path +
                                   'cytof_data_tmp_cell_type_lvl2_sub_linear_svm_overview.csv',index_col = 0)
oetjen_linear_svm_sub_lv2 = oetjen_linear_svm_sub_lv2[oetjen_linear_svm_sub_lv2['celltype'] != 'not annotated']


oetjen_linear_svm_sub_lv3 = pd.read_csv(oetjen_linear_svm_path +
                                   'cytof_data_tmp_cell_type_lvl3_sub_linear_svm_overview.csv',index_col = 0)
oetjen_linear_svm_sub_lv3 = oetjen_linear_svm_sub_lv3[oetjen_linear_svm_sub_lv3['celltype'] != 'not annotated']

oetjen_linear_svm_sub_lv4 = pd.read_csv(oetjen_linear_svm_path +
                                   'cytof_data_tmp_cell_type_lvl4_sub_linear_svm_overview.csv',index_col = 0)
oetjen_linear_svm_sub_lv4 = oetjen_linear_svm_sub_lv4[oetjen_linear_svm_sub_lv4['celltype'] != 'not annotated']

oetjen_linear_svm_sub_lv5 = pd.read_csv(oetjen_linear_svm_path +
                                   'cytof_data_tmp_cell_type_lvl5_sub_linear_svm_overview.csv',index_col = 0)
oetjen_linear_svm_sub_lv5 = oetjen_linear_svm_sub_lv5[oetjen_linear_svm_sub_lv5['celltype'] != 'not annotated']

### RBF svm

In [21]:
oetjen_rbf_svm_path = 'C:\\Users\\vfriedrich\\projects\\gating\\reproducibility\\Figure_4\\data\\performance_rbfsvm\\svm_rbf\\Oetjen_data\\'

oetjen_rbf_svm_sub_lv2 = pd.read_csv(oetjen_rbf_svm_path +
                                   'cytof_data_tmp_cell_type_lvl2_sub_rbf_svm_overview.csv',index_col = 0)
oetjen_rbf_svm_sub_lv2 = oetjen_rbf_svm_sub_lv2[oetjen_rbf_svm_sub_lv2['celltype'] != 'not annotated']


oetjen_rbf_svm_sub_lv3 = pd.read_csv(oetjen_rbf_svm_path +
                                   'cytof_data_tmp_cell_type_lvl3_sub_rbf_svm_overview.csv',index_col = 0)
oetjen_rbf_svm_sub_lv3 = oetjen_rbf_svm_sub_lv3[oetjen_rbf_svm_sub_lv3['celltype'] != 'not annotated']

oetjen_rbf_svm_sub_lv4 = pd.read_csv(oetjen_rbf_svm_path +
                                   'cytof_data_tmp_cell_type_lvl4_sub_rbf_svm_overview.csv',index_col = 0)
oetjen_rbf_svm_sub_lv4 = oetjen_rbf_svm_sub_lv4[oetjen_rbf_svm_sub_lv4['celltype'] != 'not annotated']

oetjen_rbf_svm_sub_lv5 = pd.read_csv(oetjen_rbf_svm_path +
                                   'cytof_data_tmp_cell_type_lvl5_sub_rbf_svm_overview.csv',index_col = 0)
oetjen_rbf_svm_sub_lv5 = oetjen_rbf_svm_sub_lv5[oetjen_rbf_svm_sub_lv5['celltype'] != 'not annotated']

# visualize

In [127]:
#oetjen_hypergate_lvl2,hypergate_oetjen_lv2

In [67]:
oetjen_hypergate_lvl2 = oetjen_hypergate_lvl2.rename(columns = {'value' : 'f1'})
#oetjen_hypergate_lvl2['tool'] = 'Hypergate'
#oetjen_hypergate_lvl2['level'] = 2

In [83]:
oetjen_hypergate_lvl2_f1 = oetjen_hypergate_lvl2[(oetjen_hypergate_lvl2['set_size'] == 'full')&(oetjen_hypergate_lvl2['score'] == 'f1')]
oetjen_hypergate_lvl3_f1 = oetjen_hypergate_lvl3[(oetjen_hypergate_lvl3['set_size'] == 'full')&(oetjen_hypergate_lvl3['score'] == 'f1')]
oetjen_hypergate_lvl4_f1 = oetjen_hypergate_lvl4[(oetjen_hypergate_lvl4['set_size'] == 'full')&(oetjen_hypergate_lvl4['score'] == 'f1')]
oetjen_hypergate_lvl5_f1 = oetjen_hypergate_lvl5[(oetjen_hypergate_lvl5['set_size'] == 'full')&(oetjen_hypergate_lvl5['score'] == 'f1')]

In [110]:
oetjen_hypergate_lvl2_f1 = oetjen_hypergate_lvl2_f1.rename(columns = {'value' : 'f1'})

oetjen_hypergate_lvl3_f1 = oetjen_hypergate_lvl3_f1.rename(columns = {'value' : 'f1'})

oetjen_hypergate_lvl4_f1 = oetjen_hypergate_lvl4_f1.rename(columns = {'value' : 'f1'})

oetjen_hypergate_lvl5_f1 = oetjen_hypergate_lvl5_f1.rename(columns = {'value' : 'f1'})

In [142]:
oetjen_hypergate_cg_lvl2 = oetjen_cg_lvl2.append(oetjen_hypergate_lvl2_f1)

oetjen_hypergate_cg_lvl3 = oetjen_cg_lvl3.append(oetjen_hypergate_lvl3_f1)

oetjen_hypergate_cg_lvl4 = oetjen_cg_lvl4.append(oetjen_hypergate_lvl4_f1)

oetjen_hypergate_cg_lvl5 = oetjen_cg_lvl5.append(oetjen_hypergate_lvl5_f1)

In [143]:
oetjen_hypergate_cg_lvl4

,sample,cluster,f1,recall,precision,hierarchy,level,tool,cell_type,set_size,score
0,A,cluster_CCR7- CD4+ T cell,0.837438,0.786927,0.894880,4,4.0,ConvexGating,CCR7- CD4+ T cell,NaN,NaN
0,A,cluster_CCR7+ CD4+ T cell,0.863522,0.783508,0.961736,5,4.0,ConvexGating,CCR7+ CD4+ T cell,NaN,NaN
0,A,cluster_CCR7- CD8+ T cell,0.943835,0.905134,0.985993,5,4.0,ConvexGating,CCR7- CD8+ T cell,NaN,NaN
0,A,cluster_CCR7+ CD8+ T cell,0.755746,0.619808,0.968064,5,4.0,ConvexGating,CCR7+ CD8+ T cell,NaN,NaN
0,A,cluster_Double negative T cell,0.528736,0.396552,0.793103,4,4.0,ConvexGating,Double negative T cell,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
309,U,NaN,0.224457,NaN,NaN,NaN,NaN,NaN,CCR7- CD4+ T cell,full,f1
315,U,NaN,0.736888,NaN,NaN,NaN,NaN,NaN,CCR7- CD8+ T cell,full,f1
321,U,NaN,0.339148,NaN,NaN,NaN,NaN,NaN,Double negative T cell,full,f1
327,U,NaN,0.403598,NaN,NaN,NaN,NaN,NaN,Double positive T cell,full,f1
333,U,NaN,0.845639,NaN,NaN,NaN,NaN,NaN,NK cell,full,f1

    sample               cell_type set_size score     value
3        A             CD4+ T cell     full    f1  0.970690
9        A             CD8+ T cell     full    f1  0.965213
15       A  Double negative T cell     full    f1  0.045113
21       A  Double positive T cell     full    f1  0.258020
27       A                 NK cell     full    f1  0.912818
33       B             CD4+ T cell     full    f1  0.987184
39       B             CD8+ T cell     full    f1  0.948336
45       B  Double negative T cell     full    f1  0.152134
51       B  Double positive T cell     full    f1  0.151419
57       B                 NK cell     full    f1  0.910435
63       C             CD4+ T cell     full    f1  0.978394
69       C             CD8+ T cell     full    f1  0.915875
75       C  Double negative T cell     full    f1  0.230268
81       C  Double positive T cell     full    f1  0.073343
87       C                 NK cell     full    f1  0.757726
93       H             CD4+ T cell     full    f1  0.984831
99       H             CD8+ T cell     full    f1  0.938494
105      H  Double negative T cell     full    f1  0.404932
111      H  Double positive T cell     full    f1  0.119911
117      H                 NK cell     full    f1  0.955372
123      J             CD4+ T cell     full    f1  0.982015
129      J             CD8+ T cell     full    f1  0.945643
135      J  Double negative T cell     full    f1  0.213989
141      J  Double positive T cell     full    f1  0.164628
147      J                 NK cell     full    f1  0.748477
153      O             CD4+ T cell     full    f1  0.976749
159      O             CD8+ T cell     full    f1  0.918453
165      O  Double negative T cell     full    f1  0.556145
171      O  Double positive T cell     full    f1  0.083449
177      O                 NK cell     full    f1  0.859390
183      T             CD4+ T cell     full    f1  0.959522
189      T             CD8+ T cell     full    f1  0.925428
195      T  Double negative T cell     full    f1  0.478632
201      T  Double positive T cell     full    f1  0.065163
207      T                 NK cell     full    f1  0.843284
213      U             CD4+ T cell     full    f1  0.981129
219      U             CD8+ T cell     full    f1  0.970919
225      U  Double negative T cell     full    f1  0.365801
231      U  Double positive T cell     full    f1  0.403351
237      U                 NK cell     full    f1  0.810339

In [78]:
oetjen_hypergate_lvl2_f1

   sample cell_type set_size score     value
3       A   NK cell     full    f1  0.915595
9       A    T cell     full    f1  0.987054
15      B   NK cell     full    f1  0.919082
21      B    T cell     full    f1  0.990025
27      C   NK cell     full    f1  0.749608
33      C    T cell     full    f1  0.980653
39      H   NK cell     full    f1  0.937282
45      H    T cell     full    f1  0.993214
51      J   NK cell     full    f1  0.765769
57      J    T cell     full    f1  0.988017
63      O   NK cell     full    f1  0.860149
69      O    T cell     full    f1  0.989110
75      T   NK cell     full    f1  0.849074
81      T    T cell     full    f1  0.977261
87      U   NK cell     full    f1  0.863587
93      U    T cell     full    f1  0.989617

In [124]:
oetjen_cg_lvl2['cluster'].str[8:]

0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
0     T cell
0    NK cell
Name: cluster, dtype: object